@import '../../../styles';
%block {
    background: $primary-color;
    width: fit-content;
    display: inline-block;
    margin: 1rem;
    min-width: 17rem;
    min-height: 17rem;
    text-align: center;
    background-size: 17rem;
    background-repeat: no-repeat;
    background-position: center;
    a {
        text-decoration: none;
    }
}

.info {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 1.5rem;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
}

.info:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.product {
    @extend %block;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    transition: .5s ease;
    touch-action: auto;
    &:hover, :focus {
        padding: 10px;
        
        .info:after { 
            width: 100%; 
            left: 0; 
        }
    }
}

.product_inner {
    margin: 10px;
    @extend %block;
    opacity: 0.8;
}

.img_container {
    width: fit-content;
    padding: 2rem;
}




