.product {
    background: #2394df;
    width: fit-content;
    display: inline-block;
    margin: 1rem;
    min-width: 300px;
    min-height: 300px;
    justify-content: baseline;
    text-align: center;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.img_container {
    width: fit-content;
    padding: 2rem;
}

.info {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 1.5rem;
    background: white;
    padding: .5rem;
    opacity: 0.75;
}

.btn {
    cursor: pointer;
    background:  #2394df;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .4s ease;
    &:hover {
        box-shadow: 0 0 6px rgba(0,0,0,0.5);
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: #e0e0e0;
    }
}