.product {
    background: blue;
    width: fit-content;
    display: inline-block;
    margin: 1rem;
}

.img_container {
    width: fit-content;
    padding: 2rem;
}

.info {
    font-size: 1.5rem;
    background: white;
    padding: .5rem;


}

.btn {
    background: red;

}