@import '../../styles';

.about {
    //background-color: #2394df;
    background-color: #000;
    min-height: 100vh;
    color: #e0e0e0;
    overflow: hidden;
}

.bio{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img_bg {
    background-image: url("https://sun9-24.userapi.com/c845120/v845120123/12603b/e0fCudomv8Y.jpg");
    background-size: 30vh;
    height: 30vh;
    width: 30vh;
    border-radius: 15rem;
    opacity: 0.9;
    transition: 5s ease;
    z-index: 2;
}

// .img 
// {
// transition:5s ease;
// -webkit-transition:all .5s ease-in-out;
// -moz-transition:all .5s ease-in-out;
// -ms-transition:all .5s ease-in-out;
// -o-transition:all .5s ease-in-out;
// }

.img_bg:hover
{
transform:rotate(360deg) ;
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg); 
}


.img_container {
    padding: .3rem;
    background-color: $secondary-color;
    border-radius: 15rem;
}

.info {
    display: flex;
    padding: 10px;  
}

.description_hello {
    display: flex;
    padding: 10px;
    font-size: 2.3rem;
    text-align: right;
    width: 60vh;
    font-weight: bold;
}

.description_info {
    display: flex;
    padding: 15px;
    text-align: left;
    width: 60vh;
    font-size: 1.5rem;
}

@media screen and (max-width:1250px) {
    .info {
        flex-direction: column;
    }

    .description_hello, .description_info{
        text-align: left;
    }
}

@media screen and (max-width:700px) {
    .description_hello {
        font-size: 2rem;
        width: 50vh;
    }
    .description_info{
        font-size: 1.8rem;
        width:50vh
    }
}

@media screen and (max-width:550px) {
    .description_hello, .description_info {
        text-align: start;
        font-size: 1.8rem;
    }
}