.about {
    background-color: #2394df;
    min-height: 100vh;
    color: #e0e0e0;
    overflow: hidden;
}

.bio{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    height: 30vh;
    width: 30vh;
    border-radius: 15rem;
    opacity: 0.9;
}
.img_container {
    padding: .3rem;
    padding-bottom: .2rem;
    background-color: #ffffff98;
    border-radius: 15rem;
}

.info {
    display: flex;
    padding: 10px;  
}

.description_hello {
    display: flex;
    padding: 10px;
    font-size: 2.3rem;
    text-align: right;
    width: 60vh;
    font-weight: bold;
}

.description_info {
    display: flex;
    padding: 15px;
    text-align: left;
    width: 60vh;
    font-size: 1.5rem;
}

@media screen and (max-width:1250px) {
    .info {
        flex-direction: column;
    }

    .description_hello, .description_info{
        text-align: left;
    }
}

@media screen and (max-width:700px) {
    .description_hello {
        font-size: 2rem;
        width: 50vh;
    }
    .description_info{
        font-size: 1.8rem;
        width:50vh
    }
}

@media screen and (max-width:550px) {
    .description_hello, .description_info {
        text-align: start;
        font-size: 1.8rem;
    }
}