@import '../../styles';

.contact {
    background-color: $primary-color;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
li {
    list-style: none;
}
 
.contact_links {
    width: 80px;
    height: 80px;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    z-index: 1;
    transition: .5s ease;
  }

.contact_links:hover {
    transform: scale(1.2);
}

.title {
    text-align: center;
    padding: 30px;
    font-size: 4rem;
    color: #fff;
    background-color: $primary-color;
}

%mail_element {
    border: 2px solid $secondary-color;
    border-radius: 15px;
    background-color: $primary-color;
    padding: 10px;
    margin: 5px;
    outline: none;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    
}
.mail_form {
    height: 40vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mail_info {
    @extend %mail_element;
}


.mail_message {
    @extend %mail_element;
    height: 150px;
    text-align: start;
    resize: none;
    row-gap: 4px;
}

.submit_button {
    @extend %mail_element;
    width: 20%;
    min-width: max-content;
    cursor: pointer;
    transition: 1s ease;

    &:hover{
        transform: scale(1.1);
    }
}

.mail_message::-webkit-scrollbar
{
    display: none;
}


@media screen and (max-width: 700px){
    .contact_links {
        width: 60px;
        height: 60px;
        font-size: 20px;
        line-height: 55px;
        margin: 0;
    }

    .mail_info, .mail_message, .submit_button {
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 570px){
    .mail_info, .mail_message, .submit_button {
        font-size: 1.2rem;
    }

}

.form_container {
    display: flex;
    align-items: center;
}

.confirm_form {
    width: 300px;
    left: -300px;
}

.submit_form {
    width: 100vw;
}