@import '../../styles';

.contact {
    background-color: $primary-color;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

%social {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $secondary-color;
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: auto;
}

.social {
    @extend %social;
}