.contact {
    background-color: #2394df;
    height: 30vh;
}

.contact_container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.social {
    display: flex;
    justify-content: space-around;
    color: #fff;
}