@import '../../styles';

.contact {
    border:2px solid green;
    background-color: $primary-color;
    height: 30vh;
}

.contact_container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

%social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $secondary-color;
    font-size: 2rem;
}

.social {
    @extend %social;
}