@import '../../styles';
@import './Contact.module.scss';

.popup_bg {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}

.message {
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 15px;
    display: block;
    text-align: center;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    transition: 4s ease;

    button {
        @extend %mail_element;
        width: 20%;
        min-width: max-content;
        cursor: pointer;
        transition: 1s ease;
        margin-top: 10%;
        &:hover{
            transform: scale(1.1);
        }
    }
}