.header {
    background-color: #2394df;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: top 0.6s;
}
      
.header_hidden {
    top: -50px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }
}