@import '../../styles';
.header {
    font-size: 1.5rem;
    background-color: $primary-color;
    border-bottom: 2px solid $secondary-color;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: top 0.6s;
}
      
.header_hidden {
    top: -60px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $secondary-color;
        }
    }
}

@media screen and (max-width:650px){
    .header {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:530px){
    .header {
        font-size: 1rem;
    }
}